
body {
  background-color: #f8f9fa;
  font-family: 'Roboto', sans-serif;
}
.navbar-custom .nav-icon {
  color: #ffffff;
  margin-left: 15px;
}

.navbar-custom .nav-icon i {
  font-size: 1.5rem;
}

.navbar-custom .nav-icon:hover {
  color: #f8f9fa;
}
.navbar-custom .dropdown-menu-right {
  right: 0;
  left: auto;
}

.navbar-custom {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.summary-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.summary-card h5 {
  font-weight: bold;
  color: #343a40;
}

.summary-card p {
  font-size: 1.5rem;
  color: #007bff;
}
